.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem !important;

  border: 1px solid var(--light-border-default-grey, #ddd);
}

.title {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
