dagster
dagster-dbt
dagster-duckdb
dagster-embedded-elt
GeoAlchemy2==0.16.0
dbt-duckdb
duckdb
matplotlib
pandas
requests
dlt[duckdb]
dlt[filesystem]
dlt[parquet]
s3fs==2024.12.0
boto3==1.36.0
botocore==1.35.91
thefuzz==0.22.1
psutil