dagster-webserver==1.10.2
dagster-postgres==0.26.2
dagster-aws==0.26.2
dagster==1.10.16
dagster-dbt==0.26.2
dagster-duckdb==0.26.2
dagster-embedded-elt==0.26.2

GeoAlchemy2==0.16.0
dbt-duckdb==1.9.2
duckdb==1.2.0
matplotlib==3.10.0
pandas==2.2.3
requests==2.32.4
dlt[duckdb]==1.6.1
dlt[filesystem]==1.6.1
dlt[parquet]==1.6.1
psycopg2-binary==2.9.10
pydantic_settings==2.7.1
s3fs==2024.12.0
boto3==1.35.91
thefuzz==0.22.1
psutil==6.1.1
