node_modules/
frontend/
database/
dist/
README.md
tools
bin
Procfile
jest.config.js
.eslintrc.json
package.json
package-lock.json
scalingo.json

*.css
*.hbs

# shell script
scripts/duplicate-database/

build
dist
node_modules
public

# templates
server/templates
