build/
dist/
database/
frontend/
node_modules/
public/

README.md
tools
bin
Procfile
jest.config.js
.eslintrc.json
package.json
package-lock.json
scalingo.json

*.css
*.hbs

# shell script
scripts/duplicate-database/

frontend-new/src/components/_dsfr/

# templates
server/templates
