# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules

# Env
.env
.env.*
!.env.example

# Build
build
coverage
dist
frontend-new/public/dsfr
tsconfig.build.tsbuildinfo

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store

.idea/

/talisman_report
.clever.json
