.badge {
  display: inline-block;
}

.wrapper {
  display: flex;
  position: relative;
}

.chip {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: calc(100% - 0.75rem);
  left: calc(100% - 0.5rem);
  text-align: center;

  padding: 0.25rem;
  min-width: 1.25rem;
  height: 1.25rem;
  line-height: 0;

  background: var(--red-marianne-425);
  color: var(--white-1000);
  font-size: 0.625rem;
  font-weight: 700;
  border: 1px solid var(--white-1000);
  border-radius: 50%;

  pointer-events: auto;
  text-indent: 0;
  white-space: nowrap;
}
