.actionsMenuContainer {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;

  button {
    padding-left: 0;
  }

  .actions {
    background-color: var(--white-1000);
    border: 1px solid var(--grey-950);
    position: absolute;
    z-index: 10;
    padding: 4px;

    button {
      width: max-content;
      margin: 8px 0;
      padding-left: 8px;
    }

  }
}
