.content > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.icon {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--grey-625);
  background-color: var(--grey-950);
  border-radius: 50%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 3rem;
  height: 3rem;
}

.link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 500;
  color: var(--blue-france-113);
}
