.option {
  color: var(--text-action-high-green-emeraude);
  background-color: var(--background-contrast-green-emeraude);
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.25rem;
  padding: 0 0.5rem;
  text-transform: uppercase;
}
