body {
  padding: 3rem 2.5rem;
}

header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin-bottom: 2rem;
}

main {
  text-align: justify;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.875rem;
}

p {
  padding: 0;
  margin: 0 0 1rem;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.875rem;
}

.header__sender {
  text-align: right;
}

.header__sender > p {
  margin: 0;
}

.main__written {
  font-size: 0.75rem;
}
