.article {
  border: 1px solid var(--light-border-default-grey, #ddd);
  padding: 1rem;
}

.row {
  margin-bottom: 0.75rem;
}

.imageView {
  padding: 0;

  img {
    max-width: 120px;
    max-height: 260px;
  }
}
