.buttonInGroup {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    margin-bottom: 0 !important;
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
}

.right {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
