.campaignCard {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 1px 0px -2px rgba(0, 0, 0, 0.16), 0 1px 4px rgba(0, 0, 0, 0.23);
  padding: 24px;
  background-color: white;

  & + .campaignCard {
    margin-top: 32px;
  }
}

.campaignStat {
  color: var(--blue-france-113);
  font-weight: bold;
  display: inline-block;

  .statTitle {
    font-size: 32px;
    line-height: 40px;
  }

  .statLabel {
    font-size: 14px;
  }

  &.campaignStat {
    margin-right: 40px;
  }
}

.campaignStep {
  padding: 24px;

  & + .campaignStep {
    margin-top: 24px;
  }

  &.currentStep {
    border: 1px solid var(--grey-925);
    border-top: 2px solid var(--blue-france-113);
  }

  &.oldStep {
    border: 1px solid green;

    h2 {
      color: green !important;
    }

    .stepNumber {
      color: green !important;
      border: 2px solid green !important;
    }
  }

  &:not(.currentStep):not(.oldStep) {
    background-color: var(--bf100-g750);
  }

  h2 {
    color: var(--blue-france-113);
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .stepLabel {

    & > div {
      display: inline-block;
      vertical-align: top;
    }

    .stepNumber {
      border: 2px solid var(--blue-france-113);
      border-radius: 50%;
      width: 38px;
      height: 38px;
      font-size: 18px;
      line-height: 32px;
      font-weight: bold;
      text-align: center;
      color: var(--blue-france-113);
      margin-right: 24px;
    }

    button, a {
      float: right;
    }
  }
}
