.coOwnerCard {

  width: 100% !important;
  margin-left: 0 !important;

}

.housingBouton {
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

.addressNotice > div:first-child {
  padding-left: 1rem;
  padding-right: 1rem;
}


