.icon {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-975);
  border-radius: 50%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  width: 3rem;
  height: 3rem;
}
