.loading {
  position: fixed;
  top: 0;
  background-color: var(--blue-france-113);
  height: 2px;
  z-index: 1000;
}

.count {
  align-items: center;
  background-color: var(--blue-france-113);
  border-radius: 50%;
  color: white;
  display: inline-flex;
  font-size: 12px;
  height: 1.5rem;
  justify-content: center;
  margin-left: 0.5rem;
  width: 1.5rem;
}

.headerBody {
  a:before {
    display: none !important;
  }

  .brandService {
    label {
      display: none;
    }

    input {
      width: 450px;
    }

  }
}
