clevercloud = {
  org        = ""
  api_secret = ""
  api_token  = ""
}

mailer = {
  username = ""
  password = ""
}

metabase = {
  api_token = ""
  token     = ""
}

posthog = {
  api_key = ""
  enabled = true
}
