body {
  padding: 3rem 2.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header--left {
  display: flex;
  flex-flow: column nowrap;
  width: 60%;
}

.header--right {
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
}

.header__image {
  max-width: 140px;
  height: auto;
  margin-bottom: 0.5rem;
}

.header__sender {
  text-align: right;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.875rem;
  margin-bottom: 1rem;
}

.header__sender > p {
  margin: 0;
}

.watermark {
  position: fixed;
  top: 30%;
  left: 25%;
  width: 50%;
  text-align: center;
  opacity: 0.5;
  font-size: 50px;
  transform: rotate(-45deg);
  transform-origin: 50% 50%;
  z-index: 1000;
}

main {
  text-align: justify;
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.875rem;
  margin-bottom: 2rem;
}

.main__written {
  font-size: 0.75rem;
}

footer {
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.footer__signature {
  max-width: 200px;
}
