.quotation {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.23), 0 1px 0px -2px rgba(0, 0, 0, 0.16), 0px 1px 1px 0px rgba(0, 0, 0, 0.16);
  padding: 24px;
  margin: 12px;
  background-color: var(--white-1000);
}

.ownerContainer {
  background-color: var(--blue-france-113);
  outline: 1px solid var(--white-1000);
  outline-offset: -10px;

  a {
    color: var(--blue-france-113) !important;
    background-color: var(--white-1000) !important;
  }

  * {
    color: var(--white-1000);
  }
}
