.zlv-table-with-view {
  th:last-child {
    width: 100px;
  }

  table:before {
    display: none !important;
  }
}

.zlv-table-with-select {
  th:first-child {
    width: 48px;
  }

  td {
    .fr-checkbox-group input[type=checkbox]+label:before {
      margin-top: 0;
    }
  }
}
