.zlv-table-with-view {
  th:last-child {
    width: 120px;
  }

  table:before {
    display: none !important;
  }
}

.zlv-table-with-select {
  th:first-child {
    width: 48px;
  }

  td {
    .fr-checkbox-group input[type=checkbox]+label:before {
      margin-top: 0;
    }
  }
  input[type=checkbox]+label:before {
     margin-top: 0 !important;
  }
}

.bg-100 {
  background-color: var(--g100)
}
.bg-300 {
  background-color: var(--g300)
}
.bg-bf200 {
  background-color: var(--bf200-bf300)
}

.capitalize {
  text-transform: capitalize;
}

.d-flex {
  display: flex;
}

.float-right {
  float: right;
}

.align-center {
  text-align: center;
}

.fr-tag {
  color: var(--bf500) !important;
  background-color: #E5E5F4 !important;

  button {
    background-color: #E5E5F4 !important;
  }

  & + .fr-tag {
    margin-left: 8px;
  }
}

button.fr-select {
  text-align: left;
}


.select-multi-input {
  position: relative;

  .select-multi-options {
    background-color: var(--w);
    box-shadow: 0 0 10px var(--g300);
    position: absolute;
    z-index: 10;
    width: 100%;
    display: none;

    &.select-multi-options__visible {
      display: inherit;
    }

    .fr-checkbox-group {
      margin-left: 8px;
    }

    .fr-checkbox-group:first-child {
      margin-top: 0;
    }
  }
}

