:root {
    --g100: #F8F8F8;
    --g300: #E7E7E7;
    --g400: #CECECE;
    --g600: #6A6A6A;
    --info: #0762C8;
    --w: #FFFFFF;
    --bf100: #F2F2F9;
    --bf200-bf300: #ececff;
    --bf100-g750: #f5f5ff;
    --bf500: #000091;
    --error: #e10600;
}
