.fr-tabs:before {
    position: absolute;
    margin-top: 39px !important;
}

.fr-tabs__panel {
    margin-top: 2.5rem;
}

a[href]:not(.fr-btn) {
    padding-bottom: 0.2rem;
}

a[href].ds-fr--flex {
    display: inline-flex;
}

.fr-btn--tertiary-no-outline {
    box-shadow: none !important;
}

.fix-vertical-align {
    position: relative;
    top: -3px;
}
