.fr-tabs:before {
  position: absolute;
  margin-top: 39px !important;
}

.fr-tabs__panel {
  margin-top: 2.5rem;
}

a[href]:not(.fr-btn, .internal-link--btn) {
  padding-bottom: 0.2rem;
}

a[href].ds-fr--flex,
a[href].fr-link {
  width: fit-content;
}

.fr-btn--tertiary-no-outline {
  box-shadow: none !important;
}

.fix-vertical-align {
  position: relative;
  top: -3px;
}

input[type='checkbox']:disabled {
  opacity: 0 !important;
}

span.ri-checkbox-circle-line.ds-fr-tag-icon {
  display: none;
}

.fr-accordion .fr-collapse {
  margin: 0 !important;
}

.fr-collapse--expanded {
  overflow: inherit !important;
}

.fr-enlarge-link a:before {
  display: none !important;
}
