.article {
  line-height: initial;
  position: relative;
}

.header {
  overflow-x: hidden;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--grey-975);

  .collapsed &:hover {
    background-color: var(--grey-950);
  }
}

.clickable {
  cursor: pointer;
}

.content:not(.hidden) {
  position: absolute;
  width: 100%;
  top: 100%;
  padding: 0.5rem;
  text-align: left;
  white-space: nowrap;
}

.hidden {
  height: 0;
  visibility: hidden;
}

.title {
  flex: 1;
  display: inline-flex;
  align-items: center;
  max-width: 256px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5rem;
}
