.indeterminate {
  input[type=checkbox]+label:before {
    content: "-" !important;
    font-weight: bold !important;
    font-size: 20px !important;
    padding-bottom: 4px !important;
  }
}

hr {
  border: 0;
  border-top: 1px solid #e7e7e7;
  margin-top: 24px;
}
