.indeterminate {
  input[type=checkbox]+label:before {
    content: "-" !important;
    font-weight: bold !important;
    font-size: 20px !important;
    padding-bottom: 4px !important;
    background-color: var(--bf500);
    color: white !important;
  }
}
