.bg-100 {
  background-color: var(--grey-975);

  h1 {
    text-transform: capitalize;
  }
}


ul.ownerEvents {
  list-style-image: url("../../assets/images/list-item-circle.svg");

  li {
    padding-bottom: 0;

    .ownerEvent {
      border-left: 1px solid var(--grey-850);
      padding: 0 0 24px 24px;
      margin: 0 0 0 -15px;

    }
  }
}

.bordered {
  border: 1px solid var(--grey-925);
}

