.loading {
  background-color: #000091;
  height: 5px;
}

.indeterminate {
  input[type=checkbox]+label:before {
    content: "-";
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 4px;
    background-color: #000091;
    color: white;
  }
}

hr {
  border: 0;
  border-top: 1px solid #e7e7e7;
  margin-top: 24px;
}
