.help {
  color: var(--blue-ecume-sun-247);
  margin-bottom: 2rem;
}

.upload {
  :global(.fr-error-text) {
    white-space: normal !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
  }
}

:global(#perimeter-upload-modal) {
  :global(.fr-modal__body) {
    overflow-x: hidden !important;
  }
}
