.content > *:not(:last-child) {
  margin-bottom: 1rem;
}

.link {
  font-weight: 400 !important;
}

.mailto {
  color: var(--blue-france-main-525);
}

.titleInline {
  display: flex;
  justify-content: space-between;
}
