.eventDate {
  color: var(--grey-425);
}

.event {
  background-color: var(--grey-975);
  padding: 0.75rem 1.25rem;
}

.eventContent {
  background-color: var(--white-1000);
  padding: 0.35rem 0.75rem;
}
