.searchContainer {
  position: relative;
  width: 100%;

  .searchResults {
    background-color: var(--grey-950);
    position: absolute;
    top: 40px;
    z-index: 10;
    width: 100%;
    max-height: 250px;
    overflow: auto;

    a {
      display: block;
      color: var(--black-50);
    }

  }

  .searchResultsLg {
    top: 56px;
  }
}
