.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  border: 1px solid var(--light-border-default-grey, #ddd);
}

.title {
  text-overflow: ellipsis;
  overflow-x: auto;
}

.counts {
  display: inline-flex;
  align-items: center;
  margin: 0;
}
